
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Secular+One&display=swap');
@font-face {
    font-family: 'cattedrale-demoregular';
    src: url('cattedrale-demo-regular-webfont.woff2') format('woff2'),
         url('cattedrale-demo-regular-webfont.woff') format('woff'),
         url('cattedrale-demo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul, li{
	padding: 0;
	margin: 0;
}

h1{
	font-size: 72px;
	font-weight: bold;
	font-kerning: auto;
	letter-spacing: 0.04em;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'cattedrale-demoregular', 'Jost', sans-serif;
	padding: 0;
	margin: 0;
}

em{
	font-weight: bold;
	font-style: italic;
	color: red;
}

strong{
	font-weight: bold;
	font-style: normal;
	color: hotpink;
}

abbr{
	text-decoration: none;
	font-style: italic;
}

a{
	color: black;
}

a:visited{
	color: blue;
}

a:hover{
	color: hotpink;
}

a:active{
	color: blue;
}

header a{
	color: #000000;
	text-decoration: none;
}

header a:visited{
	color: #000000;
	text-decoration: none;
}