@import url('./general.css');

/*bootstrap nav bar*/
.navbar-brand{
	display: inline-flex;
	align-self: left;
}

.navbar-brand h1{
}

#logo{
	width: 8vw;
	height: 9.6vw;
}

.navbar-brand a{
	color: #000000;
	text-decoration: none;
}

.navbar-brand a:visited{
	color: #000000;
	text-decoration: none;
}
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
}

/*Buttons design*/

.column {
	float: left;
	width: 32%;
	justify-content: center;
	padding: 8px;
}

.price {
	list-style-type: none;
	border: 2px solid #eee;
	margin: 0;
	padding: 0;
	transition: 0.3s;
}

.price li {
	border-bottom: 2px solid #eee;
	padding: 20px;
	text-align: center;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.price .grey{
	background-color: #cccccc;
}

.price .blue{
	background-color: lightgreen;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 800px) {
  .columns {
    width: 100%;
  }
}

#invis{
	opacity: 0;
}

/*Forms design*/

	

.nameform{
	padding-top: 12px;
	height: 1200px;
}

.buttonform{
	background-color: #cccccc; 
	border: none;
	color: black;
	padding: 8px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.buttonform:hover{
	background-color: lightgreen;
	transition: 1s ease;
}